<a href="https://colab.research.google.com/github/mgodfrey1294/Pandas-Tutorial-Youtube/blob/main/Unique.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
# Import CSV File
my_df = pd.read_csv('https://raw.githubusercontent.com/flatplanet/Pandas-Youtube-Playlist/main/dog_data.csv')
my_df

                    Breed              Color        DogName  OwnerZip
0                COCKAPOO              BROWN        CHARLEY     15236
1            GER SHEPHERD        BLACK/BROWN         TACODA     15238
2           BELG MALINOIS            BRINDLE           EICH     15238
3                   MIXED        BLACK/BROWN          ARROW     15104
4     AM PIT BULL TERRIER        WHITE/BROWN         OAKLEY     15139
...                   ...                ...            ...       ...
2665         GOLDENDOODLE              BROWN        WINSLOW     15044
2666    YORKSHIRE TERRIER        BLACK/BROWN  ROCKY KALAKOS     15220
2667              LAB MIX  WHITE/BLACK/BROWN          ELLIE     15220
2668         GOLDENDOODLE              WHITE       CLARENCE     15143
2669    SHETLAND SHEEPDOG              BLACK        GRIFFIN     15136

[2670 rows x 4 columns]

In [7]:
# Grab a specific column
my_df['DogName']

0             CHARLEY
1              TACODA
2                EICH
3               ARROW
4              OAKLEY
            ...
2665          WINSLOW
2666    ROCKY KALAKOS
2667            ELLIE
2668         CLARENCE
2669          GRIFFIN
Name: DogName, Length: 2670, dtype: object

In [9]:
# Count Values
my_df['DogName'].value_counts()
# Pass as DataFrame
pd.DataFrame(my_df['DogName'].value_counts()).head(50)

         DogName
LUCY          35
BELLA         30
BAILEY        29
BUDDY         29
DAISY         26
MOLLY         23
MAX           22
SADIE         20
CHARLIE       18
TOBY          17
ABBY          16
DUKE          16
COOPER        15
SOPHIE        15
RILEY         15
JACK          15
ROCKY         14
JAKE          14
CHLOE         13
COCO          12
LOLA          12
MAGGIE        12
ROSIE         12
ELLIE         11
TUCKER        11
LEO           10
GUS           10
ZOEY          10
PENNY         10
IZZY          10
BANDIT        10
ZOE           10
BUSTER        10
ANGEL         10
LUNA           9
SYDNEY         9
BENTLEY        9
OSCAR          9
RUBY           9
BEAR           9
HARLEY         9
PEANUT         9
HEIDI          9
ROXIE          9
ZEUS           9
HOLLY          8
GRACIE         8
HUNTER         8
TEDDY          8
JACKSON        8

In [11]:
# Grab Uniques
my_df['DogName'].unique()

array(['CHARLEY', 'TACODA', 'EICH', ..., 'ROCKY KALAKOS', 'CLARENCE',
       'GRIFFIN'], dtype=object)

In [13]:
# Show as DataFrame
pd.DataFrame(my_df['DogName'].unique()).head(50)

                    0
0             CHARLEY
1              TACODA
2                EICH
3               ARROW
4              OAKLEY
5              BAILEY
6   MIMI PEARL FOSTER
7               LEROI
8          ZOE VITSAS
9               TAFFY
10               DUDE
11            CHICKIE
12               KING
13              EMILY
14              ELLIE
15              RUSTY
16                NaN
17             JUILET
18              ROMEO
19               LOLA
20                ABE
21             MAGGIE
22              BUDDY
23           PRINCESS
24   CHRISTINA "TINA"
25              HOWIE
26              HAPPY
27              LILLY
28             SHADOE
29              SABLE
30              NAHBI
31           VALKYRIE
32             DOGGIE
33     CURIOUS GEORGE
34             WILLIE
35           SNOWBALL
36         HONEY PUCK
37               ROXY
38             BUMBLE
39          BOJANGLES
40             STELLA
41    NORMAN MITCHELL
42             WINNIE
43        MOLLY MAGEE
44          MADELEINE
45             BANDIT
46              KARMA
47             DAKOTA
48             CLOVER
49              TITAN